django3Sample/__pycache__/__init__.cpython-36.pyc
django3Sample/__pycache__/__init__.cpython-39.pyc
django3Sample/__pycache__/settings.cpython-36.pyc
django3Sample/__pycache__/settings.cpython-39.pyc
django3Sample/__pycache__/urls.cpython-36.pyc
django3Sample/__pycache__/urls.cpython-39.pyc
django3Sample/__pycache__/wsgi.cpython-36.pyc
django3Sample/__pycache__/wsgi.cpython-39.pyc
helloworld/__pycache__/__init__.cpython-36.pyc
helloworld/__pycache__/__init__.cpython-39.pyc
helloworld/__pycache__/urls.cpython-36.pyc
helloworld/__pycache__/urls.cpython-39.pyc
helloworld/__pycache__/views.cpython-36.pyc
helloworld/__pycache__/views.cpython-39.pyc
db.sqlite3
django3sample_workspace.code-workspace
